{% extends "layout.html" %}
{% block title %}Discussion{% endblock %}
{% block content %}

<form action="" method="post" name="discussion_post">
    <label class="label">Name of Ingredient</label>
    <div class="control">
      <input class="input" name="ingredient" type="text" placeholder="Try potato!" required="required" maxlength="20">
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-primary is-small">Commit</button>
      </div>
    </div>

</form>
{% endblock %}