{% extends "layout.html" %}
{% block title %}Discussion{% endblock %}
{% block content %}

<form action="" method="post" name="discussion_post">
    <label class="label">Title</label>
    <div class="control">
      <input class="input" name="title" type="text" placeholder="Keep it under 30 characters" required="required" maxlength="30">
    </div>

    <div class="field">
        <label class="label">Body</label>
        <div class="control">
          <textarea class="textarea" name ="content" placeholder="Talk about food or anything!" required="required"></textarea>
        </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-primary is-small">Save</button>
      </div>
    </div>

</form>
{% endblock %}