<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>RECIPEAS-{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='mymovies.css') }}"/>
  </head>

  <body>

      <nav class="navbar is-success" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="{{ url_for('home_page') }}">
              Home
            </a>
      
            <a class="navbar-item" href="{{ url_for('recipes_page') }}">
              Recipeas
            </a>
            <a class="navbar-item" href="{{ url_for('discussions_page') }}">
              Forum
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Create
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item" href="{{ url_for('create_post_page') }}">
                  Forum Post
                </a>
                <a class="navbar-item" href ="{{ url_for('create_recipe_page') }}">
                  Recipea
                </a>
              </div>
            </div>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary" href="{{ url_for('signup_page' )}}">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light">
                  Log in
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    
<section class="section">
  <div class="content">
    {% block content %}{% endblock %}
  </div>
</section>

    <footer>
      <small>&copy; 2020, Arda Cüce</small>
    </footer>
  </body>
</html>