<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>RECIPEAS-{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='mymovies.css') }}"/>
  </head>

  <body>
    <header>
      <nav class="navbar is-link">
        <div class="navbar-brand">
          <a href="{{ url_for('home_page') }}">LOGO</a>
        </div>
        <div class="navbar-menu " id="nav-links">
          <span class="navbar-item">
            <a class="navbar-item button is-link" href="{{ url_for('home_page') }}">Home</a>
          </span>
          <span class="navbar-item">
            <a class="navbar-item button is-link" href="{{ url_for('recipes_page') }}">Recipeas</a>
          </span>

          <span class="navbar-item">
            <a class="navbar-item button is-link" href="{{ url_for('discussions_page') }}">Forum</a>
          </span>
        </div>
      </nav>
    </header>
    
<section class="section">
  <div class="content">
    {% block content %}{% endblock %}
  </div>
</section>

    <footer>
      <small>&copy; 2020, Arda Cüce</small>
    </footer>
  </body>
</html>