{% extends "layout.html" %}
{% block title %}Recipes{% endblock %}

{% block content %}
    {% if recipes%}
        <table class="table is-striped is-fullwidth">
            <thead>
                <tr>
                    <th><abbr title="title">Title</abbr></th>
                    <th><abbr title="Like-Dislike">Like-Dislike</abbr></th>
                    <th><abbr title="Tried">Tried</abbr></th>
                    <th><abbr title="Ingredient Complexity">Ingredient Complexity</abbr></th>
                    <th><abbr title="Creator">Creator</abbr></th>
                </tr>
            </thead>
            {% for recipe in recipes%}
            <tr>
                <td>
                    <a href="/">
                    {{recipe.title}}
                    </a>
                </td>
                <td>
                    {{recipe.likecount}}
                </td>
                <td>
                    {{recipe.triedcount}}
                </td>
                <td>
                    {{recipe.ingredientcount}}
                </td>
                <td>
                    {{recipe.creator.nickname}}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
    <h1 class="title has-text-warning has-text-weight-bold">NO RECIPEAS YET</h1>

    {% endif %}
{% endblock %}