{% extends "layout.html" %}
{% block title %}Recipes{% endblock %}

{% block content %}
    {% if recipes%}
    <form action="" method = "post" name = "post_list">
        <table class="table is-striped is-fullwidth">
            <thead>
                <tr>
                    <th><abbr title="title">Title</abbr></th>
                    <th><abbr title="Like-Dislike">Like-Dislike</abbr></th>
                    <th><abbr title="Tried">Tried</abbr></th>
                    <th><abbr title="Ingredient Complexity">Ingredient Complexity</abbr></th>
                    <th><abbr title="Creator">Creator</abbr></th>
                </tr>
            </thead>
            {% for recipe in recipes%}
            <tr>
                <td>
                    <a href="{{url_for('recipe_page', recipe_id = recipe.recipe_id)}}">
                    {{recipe.title}}
                    </a>
                </td>
                <td>
                    {{recipe.likecount}}
                </td>
                <td>
                    {{recipe.triedcount}}
                </td>
                <td>
                    {{recipe.ingredientcount}}
                </td>
                <td>
                    {{recipe.creator.nickname}}
                </td>
                {%if current_user.is_admin%}
                <td>
                    <label class="checkbox">
                        <input type="checkbox" name="recipe_ids" value = {{recipe.recipe_id}} >
                    </label>
                </td>
                {%endif%}
            </tr>
            {% endfor %}
        </table>
        {%if current_user.is_admin%}
        <div class="field is-grouped">
            <div class="control">
              <button class="button is-danger">Delete Recipes</button>
            </div>
        </div>
        {%endif%}
    </form>
    {% else %}
    <h1 class="title has-text-warning has-text-weight-bold">NO RECIPEAS YET</h1>

    {% endif %}
{% endblock %}