{% extends "layout.html" %}
{% block title %}Recipe{% endblock %}
{% block content %}

{% if ingredients %}
<form action="" method="post" name="discussion_post">
    <div class="field columns is-gapless">  
      <div class="select is-multiple column is-one-fifth">
        <label class="label">Ingredients:</label>
        <select name="ingredient_ids" id="ingredient_ids" multiple size="8">
          {% for ingredient in ingredients %}
          <option value="{{ingredient[0]}}">{{ingredient[1]}}</option>
          {% endfor %}    
        </select>
      </div>   
    </div> 
    
    <div class="field is-grouped is-grouped-centered">
      <div class="control">
          <button class="button is-primary is-small">Search</button>
      </div>
    </div>
</form>
{% else %}
  <h1>CREATE SOME INGREDIENTS AND TOOLS FIRST</h1>
{% endif %}
{% endblock %}