{% extends "layout.html" %}
{% block title %}Users{% endblock %}

{% block content %}
    {% if users %}
        <table class="table is-striped is-fullwidth">
            <thead>
                <tr>
                    <th><abbr title="Nickname">Nickname</abbr></th>
                    <th><abbr title="Karma">Karma</abbr></th>
                    <th><abbr title="Join Date">Join Date</abbr></th>
                </tr>
            </thead>
            {% for user in users%}
            <tr>
                <td>
                    {{user.nickname}}
                </td>
                <td>
                    {{user.karma}}
                </td>
                <td>
                    {{user.join_date}}
                </td>
                {%if current_user.is_admin%}
                <td>
                    <a>DELETE</a>
                </td>
                {%endif%}
            </tr>
            {% endfor %}
        </table>
    {% else %}
    <h1 class="title has-text-warning has-text-weight-bold">NO USERS YET</h1>

    {% endif %}
{% endblock %}