{% extends "layout.html" %}
{% block title %}Users{% endblock %}

{% block content %}
    {% if users %}
    <form action="" method = "post" name="user_list">
        <table class="table is-striped is-fullwidth">
            <thead>
                <tr>
                    <th><abbr title="Nickname">Nickname</abbr></th>
                    <th><abbr title="Karma">Karma</abbr></th>
                    <th><abbr title="Join Date">Join Date</abbr></th>
                </tr>
            </thead>
            {% for user in users%}
            <tr>
                <td>
                    {{user.nickname}}
                </td>
                <td>
                    {{user.karma}}
                </td>
                <td>
                    {{user.join_date}}
                </td>
                {%if current_user.is_admin%}
                <td>
                    <label class="checkbox">
                        <input type="checkbox" name="user_ids" value = {{user.userid}} >
                    </label>
                </td>
                {%endif%}
            </tr>
            {% endfor %}
        </table>
        {%if current_user.is_admin%}
        <div class="field is-grouped">
            <div class="control">
              <button class="button is-danger">Delete Users</button>
            </div>
        </div>
        {%endif%}
    </form>
    {% else %}
    <h1 class="title has-text-warning has-text-weight-bold">NO USERS YET</h1>

    {% endif %}
{% endblock %}