{% extends "layout.html" %}
{% block title %}Users{% endblock %}

{% block content %}
    {% if users_augmented %}
    <form action="" method = "post" name="user_list">
        <table class="table is-striped is-fullwidth">
            <thead>
                <tr>
                    <th>Nickname</th>
                    <th>Karma</th>
                    <th>Created Posts</th>
                    <th>Created Recipes</th>
                    <th>Join Date</th>
                </tr>
            </thead>
            {% for user in users_augmented%}
            <tr>
                <td>
                    {{user[0].nickname}}
                </td>
                <td>
                    {{user[0].karma}}
                </td>
                <td>
                    {{user[1]}}
                </td>
                <td>
                    {{user[2]}}
                </td>
                <td>
                    {{user[0].join_date}}
                </td>
                {%if current_user.is_admin%}
                <td>
                    <label class="checkbox">
                        <input type="checkbox" name="user_ids" value = {{user[0].userid}} >
                    </label>
                </td>
                {%endif%}
            </tr>
            {% endfor %}
        </table>
        {%if current_user.is_admin%}
        <div class="field is-grouped">
            <div class="control">
              <button class="button is-danger">Delete Users</button>
            </div>
        </div>
        {%endif%}
    </form>
    {% else %}
    <h1 class="title has-text-warning has-text-weight-bold">NO USERS YET</h1>

    {% endif %}
{% endblock %}